hr {
    color: #E7ECC7;
    border-style: dashed;
    border-width: 1px;
}

body{
    font-weight: lighter;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(30, 31, 28);
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 7%;
}

div {
    background-color: rgb(39, 40, 34);
    padding: 5%;
}

h1 {
    color: #a6e22e;
    text-shadow: 0 0 1px #a6e22e;
}

h2 {
    color: #66d9ef;
    text-shadow: 0 0 1px #66d9ef;
}

p {
    color: #E7ECC7;
    line-height: 1.5;
}

li {
    color: #a6e22e;
}

a {
    color:#f92672;
    text-shadow: 0 0 2px #f92672;
}