#profile-image {
    display: inline;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-links li {
    margin: 0 0px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 2px;
}

.social-links img {
    width: 20px;
    height: 20px;
}

.social-links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

hr {
    color: #E7ECC7;
    border-style: dashed;
    border-width: 1px;
}

body {
    font-weight: lighter;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(30, 31, 28);
    margin-top: 5%; 
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 7%;
}

div {
    background-color: rgb(39, 40, 34);
    padding: 5%;
    padding-top: 2%;
}

h1 {
    color: #a6e22e;
}

h2 {
    color: #66d9ef;
}

p {
    color: #E7ECC7;
    line-height: 1.5;
}