.social-links {
    list-style: none;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-links li {
    margin: 0 0px;
}

.social-links li a {
    color: #f8f8f2;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 2px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.social-links img:hover {
    opacity: 0.5;
}

.social-links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}