:root {
    color-scheme: dark;
}

hr.break {
    color: #a6e22e;
    border-style: dashed;
    border-width: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1 {
    color: #a6e22e;
}

body {
    color-scheme: dark;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(30, 31, 28);
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}

div.page {
    background-color: rgb(39, 40, 34);
    padding: 5%;
    padding-top: 2%;
}



h2 {
    color: #5cc1d5;
}

p {
    text-align: justify;
    color: #eaeaea;
}

div.meme-list img {
    width: 400px;
    height: 400px;
    margin-top: 4%;
    margin-bottom: 0%;
    margin-left: 2%;
    margin-right: 2%;
}