*{
    padding: 0;
    margin: 0;
}

body{
    color: whitesmoke;
    background-color: #1E1F1C;
    background-image: url("bkg.png");
    font-family: Arial, Helvetica, sans-serif;
}

#green{
    color: #B5E853;
}

.main{
    box-shadow: 2px 2px 2px 1px rgba(3, 3, 3, 0.4);
    border-radius: 2%;
    background-color: #282828;
    margin-top: 1%;
    padding: 2%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.main ul{
    margin-left: 4%;
}

.main a{
    text-decoration: none;
    color: rgb(0, 152, 152);
}

.main a:hover{
    text-decoration: none;
    color: rgb(1, 118, 118);
}